 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
	  <h2>Programming</h2>
      <p style="text-align:left">
		  I have 6 years of full-stack programming experience on the Roblox platform, using Lua.<br> 
		  I've interacted with datastores, solved complex game-networking problems, implemented fun game mechanics, and more.
	  </p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-visualstudio-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-plain"></i>
	  <p style="text-align:left">I use VSCode, git, github actions, the Rojo toolchain, and more on a daily basis.</p>
    </div>
</div>
