<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="DragonEngine" src="{{ "https://raw.githubusercontent.com/NobleDraconian/Dragon-Engine/master/Docs/Img/DragonEngine_Wallpaper.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dragon Engine </h3>
    <p>
		Dragon Engine is a microservice-based game framework designed for Roblox. It offers many features including
		network abstraction, run-time module dependency resolution, easy API-based code communication, and more.
		<br>
		This framework powers a lot of my projects, and is overall very robust and portable. It lets me rapidly prototype systems and gameplay.
	</p>
    <a class="project-link" href="https://github.com/NobleDraconian/Dragon-Engine">See repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="VisionsMap" src="{{ "https://t5.rbxcdn.com/0c81b1d3ff53001408554800b976f935" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Visions of a perspective reality </h3>
    <p>
		Visions of a perspective reality was a gamejam project for the 2020 Roblox Developers Conference. Participants of the gamejam were given 24 hours
		to make a game based on the theme "2020 vision". The game features unique ambient levels, and a "perspective" switching mechanic where you have to
		switch between the 2nd and 3rd dimensions to navigate through various puzzles to reach the goal.
		<br>
		The game won the title of "Most creative gameplay" in the gamejam. I handled the programming, game design, and UI. My partner handled the modeling and level design,
		as well as the game's art design.
	</p>
    <a class="project-link" href="https://www.roblox.com/games/5372071402">Play it</a>
  </div>
</div>
<div class="user-projects">
	<div class="images-right">
	  <img alt="Creamatoria" src="{{ "https://pbs.twimg.com/media/EZz-OYbWkAEHNaH?format=jpg&name=large" | prepend: site.baseurl }}" />
	</div>
	<div class="contents">
	  <h3> Creamatoria </h3>
	  <p>
		  Creamatoria is one of my first attempts at creating an immersive world, which tells its story through the environment the player
		  walks through, or "atmospheric storytelling". It features a unique atmosphere, potraying a desolate landscape with long abandoned
		  structures of what was once a habited planet.
	  </p>
	  <a class="project-link" href="https://www.roblox.com/games/1346802192">Play it</a>
	</div>
  </div>
