<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="DragonEngine" src="{{ https://raw.githubusercontent.com/NobleDraconian/Dragon-Engine/master/Docs/Img/DragonEngine_Wallpaper.png | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dragon Engine </h3>
    <p>
		Dragon Engine is a microservice-based game framework designed for Roblox. It offers many features including
		network abstraction, run-time module dependency resolution, easy API-based code communication, and more.
		<br>
		This framework powers a lot of my projects, and is overall very robust and portable. It lets me rapidly prototype systems and gameplay.
	</p>
    <a class="project-link" href="https://github.com/NobleDraconian/Dragon-Engine">See repository</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
